DDD/.idea/
DDD/ApplicationLayer/obj/
DDD/DomainLayer/obj/
DDD/InfrastructureLayer/obj/
DDD/PresentationLayer/obj/
DDD/PresentationLayer/bin/
DDD/ApplicationLayer/bin/
DDD/InfrastructureLayer/bin/
DDD/DomainLayer/bin/
